{{!< default}}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}
				<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" style="width:400px;"/></a><br/>
			{{else}}
				<h1 class="blog-title">{{@blog.title}}</h1><br/>
			{{/if}}
            <h2 class="blog-description">{{@blog.description}}</h2>
        </div>
    </div>
</header>
{{! The main content area on the homepage }}
<a id="blog" style="margin-top: -40px; position: absolute;">&nbsp;</a>
<div class="blog">
    <h1 style="text-align:center; color:white;">Galleri</h1>
    <div class="flat">
        <div class="button-flat-empty Landskap">Landskap og stilleben</div>
        <div class="button-flat-empty Portretter">Portretter og akt</div>
        <div class="button-flat-empty Tegninger">Tegninger og skisser</div>
    </div>
    <div class="submenus flat"></div>
	<div id="container" class="content gallery">
		{{! Each post will be output using this markup }}
		{{#foreach posts}}
        <div class="item {{#foreach tags}}{{name}}{{/foreach}}">
            <a class="box-link" href="{{url}}">
                <span class="img-holder">{{content words="0"}}</span>
                <span class="text">
                    <strong class="post-title">{{{title}}}</strong>
                    <span>{{excerpt characters="70"}}&hellip;</span>
                    <span class="hover-block"></span>
                </span>
            </a>
        </div>
		{{/foreach}}

	</div>
</div>